
@{
    ViewData["Title"] = "Test";
}

<script src="~/js/app.js"></script>

<h1>Test</h1>

<button onclick="testtrip()">Test Drive</button>
<button onclick="GetMountains()">Mountains</button>
<button onclick="GetProducts()">Products</button>
<button onclick="GetInventory()">Inventory</button>